{% extends 'base.html' %}

{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario para App Móvil</title>
  <!-- Estilos de Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Estilos para el mapa -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <style>
    .map {
      height: 300px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="mt-5">Crear viajeros</h2>
    <div id="integrantes">
      <!-- Bucle for para generar múltiples secciones de formulario -->
      <form method="post">
      {% for integrante in range(integrantes) %}
      <div class="integrante">
        <h2>Integrante número {{ integrante }}</h2>
          <div class="form-group">
            <label for="nombre{{ integrante }}">Nombre:</label>
            <input required="true" type="text" class="form-control" id="nombre{{ integrante }}" name="nombre{{ integrante }}" placeholder="Ingrese su nombre">
          </div>
          <div class="form-group">
            <label for="map">Origen:</label>
            <!-- Campo para mostrar el mapa -->
            <div class="map" id="map{{ integrante }}"></div>
            <input type="hidden" id="latitud{{ integrante }}" name="latitud{{ integrante }}">
            <input type="hidden" id="longitud{{ integrante }}" name="longitud{{ integrante }}">
          </div>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </div>    
  </div>

  <!-- Scripts de Bootstrap y Leaflet -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Scripts para Leaflet -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script>
    // Función para inicializar un mapa
    function initMap(mapId) {
      var map = L.map('map'+mapId).setView([43.333288044888135, -8.409589541399267], 12);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      var marker = L.marker([43.333288044888135, -8.409589541399267], { draggable: false }).addTo(map);

      map.on('click', function(e) {
        var latlng = e.latlng;
        marker.setLatLng(latlng);
        // Actualizar campos de latitud y longitud
        document.getElementById('latitud' + mapId).value = latlng.lat;
        document.getElementById('longitud' + mapId).value = latlng.lng;
      });
    }

    var integrantes = {{ integrantes }};

    // Inicializar los mapas al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
      for (var i = 0; i < integrantes; i++) {
        initMap(i);
      }
    });
  </script>

{% endblock %}